[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ENV}}.robosop.internal:80
Environment=DB_HOST=mysql-{{ENV}}.robosop.internal
ExecStart=/bin/java -Xms1000m -Xmx2000m -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target